form.formtastic {
  .select {
    width: 20%;
  }
  input.btn-action {
    padding: 10px;
    background-color: #0069aa;
    color: #fff;
  }
}

#clear-search {
  margin-left: 52px;
  margin-top: 5px;
}

.alert-success {
  width: 38%;
  margin: 0 auto;
  text-align: center;
}

.job-card {
  border-bottom: 1px solid #eaeaea;
}

.description {
  margin-bottom: 10px;
}

